@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
     <button class="alert alert-primary">Welcome</button>
     <button class="alert alert-secondary">Welcome</button>
     <button class="alert alert-success">Welcome</button>
     <button class="alert alert-danger">Welcome</button>
     <button class="alert alert-warning">Welcome</button>
     <button class="alert alert-info">Welcome</button>
     <button class="alert alert-light">Welcome</button>
     <button class="alert alert-dark">Welcome</button>
</div>